<!- https://www.taniarascia.com/responsive-dropdown-navigation-bar/ ->
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{% link index.md %}"><img class="logo" src="/assets/logo.png" alt="OGXING"></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="{}">Articles</a>
        </li>
        <li>
          <a href="{}">Projects</a>
        </li>
        <li>
          <a href="{}">Index</a>
        </li>
        <li>
          <a href="{% link _pages/about.md %}">About</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
